.App {
  text-align: center;
  background: linear-gradient(30deg, rgba(0,0,255,.2), rgba(255,0,0,.2));
  min-height: 100vh;
  position: relative;
}

.main-body {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: darksalmon;
  padding: 20px 0;
  width: inherit;
  height: 60px;
}

.link, .link:hover {
  color: #FFF;
  text-decoration: none;
}

#parcel:hover, #letter:hover {
  cursor: pointer;
}